In [1]:
atlantic <- read.csv(file="atlantic.csv",sep=",",header = FALSE)

In [16]:
atlantic[1:5,1:21]

  V1       V2                  V3      V4  V5     V6      V7 V8   V9   V10  ...
1 AL011851             UNNAMED      14                    NA   NA   NA   NA ...
2 18510625  0000                        HU  28.0N   94.8W 80 -999 -999 -999 ...
3 18510625  0600                        HU  28.0N   95.4W 80 -999 -999 -999 ...
4 18510625  1200                        HU  28.0N   96.0W 80 -999 -999 -999 ...
5 18510625  1800                        HU  28.1N   96.5W 80 -999 -999 -999 ...
  V12  V13  V14  V15  V16  V17  V18  V19  V20  V21
1   NA   NA   NA   NA   NA   NA   NA   NA   NA NA
2 -999 -999 -999 -999 -999 -999 -999 -999 -999 NA
3 -999 -999 -999 -999 -999 -999 -999 -999 -999 NA
4 -999 -999 -999 -999 -999 -999 -999 -999 -999 NA
5 -999 -999 -999 -999 -999 -999 -999 -999 -999 NA

In [84]:
new <- as.data.frame(atlantic[1:5,1],col.names = c("asd","as"))

In [85]:
new

  atlantic[1:5, 1]
1 AL011851
2 18510625
3 18510625
4 18510625
5 18510625